
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ebf0d6;
    color: #333;
}


.hero {
    height: 100vh;
    background: url(mary/mary4.jpg) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    animation: fadeIn 1.5s ease-in-out;
}

.hero-content p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
    animation: fadeIn 2s ease-in-out;
}
.btns{
    margin-top:20px;
     margin-bottom: 80px;
display:flex;
    justify-content: space-evenly;

}
.btn {
    
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #ffcc00;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
    animation: fadeIn 2.5s ease-in-out;
}

.btn:hover {
    background-color: #e6b800;

}
.footer {
  position:relative;
  bottom: 0;
  width: 100%;
  min-height: 60px; /* allows it to grow if needed */
  background-color: #5C4033; /* rich brown */
  color: #ffffff;
  display: flex;
  flex-wrap: wrap; /* allows text to wrap */
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  font-size: 0.9rem;
  font-family: "Inter", "Poppins", sans-serif;
  z-index: 999;
  box-sizing: border-box;
}


.footer a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 2px;
    margin-right: 2px;
  transition: color 0.3s ease;
}
.navi {
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    background-color: #5C4033;
    border-bottom: 1px solid #e5e5e5;
    font-family: "Inter", "Poppins", sans-serif;
}

.navi a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
    transition: color 0.25s ease, border-bottom 0.25s ease;
    padding-bottom: 4px;
    font-size:small;
}

.navi a:hover {
    color: orange;
    border-bottom: 2px solid #0077cc;
}

.navi a.active {
    color: #0077cc;
    border-bottom: 2px solid #0077cc;
}


